img {
  /*This is the size of the image*/
  height: 150px
}

.description {
   /*This is the first paragraph*/
  font-size: 20px;
}

#cook-time {
   /*This is the total time section*/
    font-weight: bold;
}

.ingredients li {
   /*This is the ingredients section list style square*/
  list-style: square;
}

.time {
  /*This is the time for each prep*/
  color: gray;
}

.citation .external-link {
   /*This is the link to full recipe at the bottom of the page*/
  color: SeaGreen;
}

h1,
h2,
p,
li {
   /*Fonts for heading 1,2, paragraghs and list*/
  font-family: Helvetica;
}




